h1 {
  text-align: center;
  color: whitesmoke;
  background-color: #009d82;
  background-image: linear-gradient(green, #009d82);
  padding: 20px;
}

.card-header {
  font-weight: bold;
}

.search-btn {
  background-color: #009d82;
  color: whitesmoke;
  border-radius: 10px;
  border-style: none;
}

li {
  list-style-type: none;
}
/* FLEX CONTENT */
/* .flex-row {
  display: flex;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
} */
